
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff; 
  color: #333; 
}
header {
  padding: 8px;
  text-align: center;
  background-color: #F0EFEF;
}
.header {
  text-align: left;
}

header h1 {
  margin: 0;
  font-size: 24px; 
}

nav {
  border-bottom: 2px solid #908a8a; 
  padding: 15px 0;
  text-align: center;
  background-color: #F0EFEF;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline;
  margin-right: 20px;
}
nav ul li a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

nav ul li a:hover {
  text-decoration: underline;
}

#loginButton {
  padding: 12px 20px; 
  border-radius: 20px; 
  border: 1px solid #31B3DC; 
  background-color: #31B3DC; 
  color: #fff;
  font-size: 15px; 
  cursor: pointer;
  transition: background-color 0.3s ease;
  float: right; 
  margin-right: 20px; 
  padding-top: 10px; 
  margin-top: -20px; 
}

#loginButton:hover {
  background-color: #4682B4;
}

.small {
  position: absolute;
  top: 130px;
  left: 280px;
  font-size: 15px;
  font-weight: lighter;
}

.small span {
  color: red;
}

.big {
  position: absolute;
  top: 154px;
  left: 280px;
  font-size: 30px;
  font-weight: bold;
}

/* 여기서부터 */

.content-box {
  position: absolute;
  top: 220px;
  left: 50%;
  transform: translateX(-50%);
  width: 63%;
  height: 430px; 
  border-radius: 10px;
  border: 2px solid #b9b9b9;
}

.divider {
  border-top: 2px solid #b9b9b9;
  margin: -0.8px 0;
}



.menu {
  display: flex;
  justify-content: space-between;
  padding: 0;
  position: relative;
  height: 60px;
}

.menu-item {
  cursor: pointer;
  flex: 1;
  text-align: center;
  position: relative;  
  background-color: #f0f0f0;
  line-height: 60px;
  transition: background-color 0.3s ease; 
}

.menu-item:first-child {
  border-top-left-radius: 10px;
}

.menu-item:last-child {
  border-top-right-radius: 10px;
}

.menu-item:hover {
  background-color: #31B3DC; 
  color: #fff; 
}

.menu-item.active {
  background-color: #31B3DC; 
  color: #fff; 
}

.menu-item::before {
  content: '';
  position: absolute;
  top: 0; 
  bottom: 0;
  right: 0;
  width: 2px;
  background-color: #b9b9b9;
}

.menu-item:last-child::before {
  display: none;
}

.text {
  padding: 20px;
  text-align: center;
  height: calc(100% - 60px - 22px); 
  overflow-y: auto; 
}


/*리뷰항목*/
.reviews {
  padding: 20px;
}

.review {
  display: flex;
  margin-bottom: 20px;
}

.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.review-content {
  flex: 1;
}

.nickname {
  font-weight: bold;
}

.rating {
  color: gold;
  font-size: 20px;
  margin-bottom: 5px;
}
