
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff; 
  color: #333; 
}
header {
  padding: 8px;
  text-align: center;
  background-color: #F0EFEF; 
}
.header {
  text-align: left;
}

header h1 {
  margin: 0;
  font-size: 24px; 
}

nav {
  border-bottom: 2px solid #908a8a; 
  padding: 15px 0;
  text-align: center;
  background-color: #F0EFEF; 
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline;
  margin-right: 20px;
}
nav ul li a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

nav ul li a:hover {
  text-decoration: underline;
}

#loginButton {
  padding: 12px 20px; 
  border-radius: 20px; 
  border: 1px solid #31B3DC; 
  background-color: #31B3DC; 
  color: #fff; 
  font-size: 15px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
  float: right;
  margin-right: 20px; 
  padding-top: 10px; 
  margin-top: -20px; 
}

#loginButton:hover {
  background-color: #4682B4; 
}


.big {
  position: absolute;
  top: 154px;
  left: 280px;
  font-size: 30px;
  font-weight: bold;
  margin-top: -15px;
}

.tabs {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ddd;
  margin-top: 110px;
}

.tab-button {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: white;
  font-size: 16px;
  font-weight: bold;
  width: 150px; 
  margin-left: -380px;
  margin-right: 370px;
}



.tab-button.active {
  border-bottom: 2px solid black;
}

.content {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.buttons {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
}

/*만들기 버튼*/
.create-button {
  padding: 15px 30px; 
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  position: relative; 
  cursor: pointer;
  margin-left: 10px;
}

.create-button::before {
  content: ''; 
  display: block;
  width: 45px; 
  height: 45px; 
  background-image: url('/svg/bx-plus-circle.svg'); 
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: 45px; 
  position: absolute; 
  top: 40px; 
  left: 50px; 
}


/*만들기버튼 텍스트*/
.button-text {
  position: relative;
  font-size: 20px;
  top: 43px; 
}

/*내모임 버튼 텍스트*/
.button2-text {
  position: relative;
  font-size: 20px;
  top: 43px; 
}

/*내모임 버튼*/
.my-meetings-button {
  padding: 15px 30px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  position: relative; 
  cursor: pointer;
  margin-left: 10px;
  
}

.my-meetings-button::before {
  content: ''; 
  display: block;
  width: 45px; 
  height: 45px; 
  background-image: url('/svg/bx-grid-alt.svg'); 
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: 45px; 
  position: absolute; 
  top: 40px; 
  left: 50px; 
}

.create-button, .my-meetings-button {
  padding: 10px 20px;
  width: 150px;
  height: 150px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  cursor: pointer;
  margin-left: 40px; 
  border-radius: 10%;
}

.container {
  display: flex;
  align-items: flex-start; 
}
/*인기글*/
.popular-posts {
  width: 380px;
  height: 220px;
  background-color: #F9F9F9;
  padding: 20px;
  border: 1px solid #ccc;
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
  display: inline-block;
  border-radius: 5%;
}

.popular-posts h2 {
  margin-bottom: 18px;
  margin-top: 7px;
  margin-left: 10px;
}

.popular-posts ul li a {
  text-decoration: none; 
  cursor: pointer; 
  color: #000000;
}



.popular-posts ul li a:hover {
  text-decoration: underline; 
  color: #31B3DC; 
}



.popular-posts ul {
  list-style-type: none;
  margin-left: 10px;
  padding: 0;
  font-size: 18px;
  margin-top: 25px;
}

.popular-posts li {
  margin: 7px 0;
}

.ads {
  display: flex;
  justify-content: space-around;
  margin-top: 55px;

}

.ad {
  width: 300px;
  height: 220px;
  background-color: #e9e9e9;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 5%;
  margin-right: 40px; 

}
