
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff; 
  color: #333; 
  font-family: Arial, sans-serif;
}
header {
  padding: 8px;
  text-align: center;
  background-color: #F0EFEF; 
}
.header {
  text-align: left;
}

header h1 {
  margin: 0;
  font-size: 24px; 
}

nav {
  border-bottom: 2px solid #908a8a; 
  padding: 15px 0;
  text-align: center;
  background-color: #F0EFEF; 
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline;
  margin-right: 20px;
}
nav ul li a {
  color: #333; 
  text-decoration: none;
  font-weight: bold;
  font-size: 18px; 
}

nav ul li a:hover {
  text-decoration: underline;
}

#loginButton {
  padding: 12px 20px; 
  border-radius: 20px; 
  border: 1px solid #31B3DC;
  background-color: #31B3DC; 
  color: #fff; 
  font-size: 15px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
  float: right; 
  margin-right: 20px; 
  padding-top: 10px; 
  margin-top: -20px;
}

#loginButton:hover {
  background-color: #4682B4; 
}

.small {
  position: absolute;
  top: 130px;
  left: 280px;
  font-size: 15px;
  font-weight: lighter;
}

.small span {
  color: red; 
}

.big {
  position: absolute;
  top: 154px;
  left: 280px;
  font-size: 30px;
  font-weight: bold;
}

.container {
  width: 950px;
  height: 400px;
  margin: 120px auto 20px;
  padding: 20px;
  background-color: #0077ff11;
  border-radius: 20px;
  border: 2px solid #b9b9b9;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.container .row {
  display: flex;
  flex-direction: row; 
  justify-content: space-between; 
  width: 100%;
  margin-bottom: 30px; 
}

.text {
  width: 100px;
  font-weight: bold;
  font-size: 30px;
  text-align: left;
  padding: 10px;
  margin-left: 25px;
}


.select-wrapper select {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  padding: 8px 12px;
}

.institution-name {
  margin-left: -80px;
}


.container .row .text,
.container .row .select-wrapper {
  flex: 1; 
  padding: 10px; 
}


/* 드롭다운 개별로 위치 조정 */
.dropdown1 {
  margin-left: -190px; 
}

.dropdown2 {
  margin-left: -200px;
}

.dropdown3 {
  margin-left: -105px; 
}

.dropdown4 {
  margin-left: -290px;
}

.dropdown5 {
  margin-left: -5px;
}

.dropdown6 {
  margin-left: -75px;
}

.dropdown7 {
  margin-left: -100px;
}

.dropdown8 {
  margin-left: -100px;
}




.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; 
}

.search {
  padding: 10px 20px;
  margin: 0 5px; 
  border: none;
  border-radius: 5px;
  background-color: #0075FF;
  color: white;
  font-size: 16px;
  cursor: pointer;
  width: 120px; 
  height: 40px; 
  font-weight: bold; 
}

.search:hover {
  background-color: #5ea9ff;
}

.search-container {
  display: flex;
  justify-content: center; 
  margin-top: 20px;
}

.reset {
  padding: 10px 20px;
  margin: 0 5px; 
  border: none;
  border-radius: 5px;
  background-color: #7F7F7F;
  color: white;
  font-size: 16px;
  cursor: pointer;
  width: 120px;
  height: 40px; 
  font-weight: bold; 
}

.reset:hover {
  background-color: #a4a4a4;
}

.reset-container {
  display: flex;
  justify-content: center; 
  margin-top: 20px; 
}



/* 구분선 위 텍스트 */
.result {
  width: 950px;
  margin: 20px auto 0;  
  font-size: 18px;
  color: #333;
  padding: 10px 0;
}

/* 구분선 */
.divider {
  width: 950px;
    height: 2px;
    background-color: #b9b9b9;
    margin: 0 auto;
}

.small-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 20px 0 20px 290px;
  padding: 20px;
  background-color: #0077ff11;
  color: rgb(0, 0, 0); 
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
  overflow: hidden; /* 텍스트가 자꾸 벗어남 */
}

.info-button + .info-button {
  margin-right: 5px; 
}

.small-box p {
  margin: 0;
  padding-bottom: 10px;
  font-size: 16px;
}


.button-small{
  display: flex;
  justify-content: center; 
  margin-top: 20px; 
}

/*버튼들*/
.details {
  padding: 10px 20px;
  margin: 0 5px; 
  border: none;
  border-radius: 5px;
  background-color: #0075FF;
  color: white;
  font-size: 16px;
  cursor: pointer;
  width: 120px;
  height: 40px; 
  font-weight: bold; 
}

.details:hover {
  background-color: #5ea9ff;
}

.details-container {
  display: flex;
  justify-content: center; 
  margin-top: 20px; 
}

.application {
  padding: 10px 20px;
  margin: 0 5px; 
  border: none;
  border-radius: 5px;
  background-color: #7F7F7F;
  color: white;
  font-size: 16px;
  cursor: pointer;
  width: 120px; 
  height: 40px; 
  font-weight: bold;
}

.application:hover {
  background-color: #a4a4a4;
}

.application-container {
  display: flex;
  justify-content: center; 
  margin-top: 20px;
}

